# DONT USE <> BRACKETS

# Telegram
TELEGRAM_BOT_TOKEN=<TELEGRAM_BOT_TOKEN>

# Web App
WEB_APP_URL=<WEB_APP_URL>

# API
SWAGGER_PATH=</SWAGGER_PATH>
API_PORT=<:API_PORT>

# Database
DATABASE_PATH=<./data/DATABASE.db>

# CORS middleware
CORS_ALLOW_ORIGINS=<CORS_ALLOW_ORIGIN_1,CORS_ALLOW_ORIGINS_2>
CORS_ALLOW_METHODS=<GET,POST,PUT,DELETE>
CORS_ALLOW_HEADERS=<Origin,Content-Type,Authorization>
CORS_EXPOSE_HEADERS=<Content-Length>
CORS_ALLOW_CREDENTIALS=<true>